@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


.text-col{
    margin-top: auto;
    margin-bottom: auto;
}
.aboutus-hero
    {
        background : linear-gradient(to bottom, #d1f1fc64, white 100%) 
    }